*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 0rem;
  padding-left: 8rem;
  font-family: $font-primary;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}
section {
  margin: 8rem 0;
}
